header {
    height: 70px;
    background-color: var(--color-bg-primary);
    display: flex;
    align-items: center;
    color: var(--color-font-primary);
    font-weight: 700;
}

nav {
    display: flex;
    padding: 28px;
    justify-content: space-between;
}

.valueproduct {
    display: flex;

}

.value {
    margin-right: 5px;
}